version: '3.8'

services:
  frontend:
    image: ${FRONTEND_IMAGE:-dilshanwmp/todo_app_frontend:latest}
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    image: ${BACKEND_IMAGE:-dilshanwmp/todo_app_backend:latest}
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/TodoApp
    depends_on:
      - mongodb
    networks:
      - app-network

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
